.grid {
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}
.grid div {
    height: 20px;
    width: 20px;
}
.winning-block {
    background-color:yellow;
}
.Start-block {
    background-color:blue;
}
.log-left,
.log-right {
    background-color: lightblue;
}
.car-left,
.car-right {
    background-color: lightgray;
}


.l1, .l2, .l3 {
    background-color: rgb(175, 120, 47);
}

.l4, .l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
}
.c2, .c3 {
    background-color: lightgray;
}
.chicken {
    background-color: red;
}
